<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>767470877429-mejjbk1s0b82lv8rtgic7h0u7tlqbn2h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAod96Yl6-QFhg8yDddPtZsRGg2UcjjCUs</string>
	<key>GCM_SENDER_ID</key>
	<string>767470877429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleMeet</string>
	<key>PROJECT_ID</key>
	<string>chatappfirebase-f51b9</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappfirebase-f51b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767470877429:ios:81b1f763174312920763bc</string>
	<key>DATABASE_URL</key>
	<string>https://chatappfirebase-f51b9.firebaseio.com</string>
</dict>
</plist>